---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import ProjectCard from '../components/ProjectCard.astro';
const allProjects = await Astro.glob('./projects/*.md');
---
<Layout title="Thomas - Projects">
	<Nav page="projects" burgerColor='black'/>
	<div class="projectsSection" id="projects">
		<h1 class="sectionHeader">Projects</h1>
		<div class="projectsContainer">
			{
				allProjects.sort(
					(a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
				).map((project) => {
					return (<ProjectCard title={project.frontmatter.title} description={project.frontmatter.description} image={project.frontmatter.image} link={project.frontmatter.type === 'detailed' ? project.url : project.frontmatter.link} type={project.frontmatter.type}/>)
				}
				)
			}
		</div>
	</div>
</Layout>
<style>
	.projectsSection {
		background-color: #fdfdfd;
		min-height: 100vh;
		padding: 3em 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow: hidden;
	}
	.sectionHeader {
		color: #000;
		font-size: 32px;
		font-family: 'Poppins';
		font-weight: 600;
		margin-bottom: 25px;
	}
	.projectsContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		width: 100%;
		max-width: 1200px;
	}
</style>