---
---
<div class="educationSection" id="education">
	<div class="left">

	</div>
	<div class="right">
		<h1 class="sectionHeader">Education</h1>
		<img src="/isu_logo.webp" alt="Iowa State University" style="width: 200px; height: auto; margin: 25px 0;">
		<div class="sectionText">
			I studied Software Engineering with a minor in Cybersecurity at <span class="textRed">Iowa State University</span> in Ames, IA. At ISU, I served as Executive Web Developer for the TREND Fashion magazine and participated in the Hackathon Club, Web Developer Club, and the Computer Science and Engineering Club. Prior to ISU, I attended <span class="textRed">Naperville Central High School</span> in Naperville, IL.
		</div>
	</div>
</div>
<style>
	.educationSection {
		background-color: #1B2023;
		min-height: 100vh;
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	.left {
		width: 50vw;
		min-height: 100vh;
		background-image: url('/isu.webp');
		background-size: cover;
		background-position: center;
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50vw;
		min-height: 100vh;
		flex-direction: column;
	}
	@media (max-width: 874px) {
		.educationSection {
			flex-direction: column;
		}
		.left {
			width: 100vw;
			display: none;
		}
		.right {
			width: 100vw;
			padding: 0 1em;
		}
	}
	.sectionHeader {
		color: #fff;
		font-size: 32px;
		font-family: 'Poppins';
		font-weight: 600;
		margin-bottom: 25px;
	}
	.sectionText {
		padding: 30px;
		max-width: 600px;
		font-family: 'Poppins';
		font-weight: 300;
		font-size: 16px;
		color: #fff;
	}
	.textRed {
		color: #EB3451;
	}
</style>