---
import { Icon } from 'astro-icon';
export interface Props {
	title: string;
	description: string;
	type: 'demo' | 'github' | 'detailed',
	link: string;
	image: string;
}

const { title, description, type, link = '#', image } = Astro.props;
---
<a href={link} style="display: flex; justify-content: center;">
	<div class="projectContainer">
		<div class="projectImageContainer">
			<img src={image} class="projectImage"/>
		</div>
		<div class="projectTitle">
			{title}
		</div>
		<div class="projectDesc">
			{description}
		</div>
		<div class="linkContainer">
			<div class="projectLink">
				{type === 'detailed' ? 'View Project' : `View ${type === 'github' ? 'GitHub' : 'Demo'}`} <Icon pack="ph" name="arrow-right" class="linkIcon" />
			</div>
		</div>
	</div>
</a>
<style>
	.projectContainer {
		width: 300px;
		height: auto;
		display: flex;
		align-items: left;
		flex-direction: column;
		margin: 15px;
		padding: 15px;
		transition: 0.4s;
		border-radius: 3px;
		justify-self: center;
		margin-bottom: 50px;
		overflow: hidden;
	}
	.projectContainer:hover {
		cursor: pointer;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	}
	.projectImageContainer {
		width: 100%;
		border: 2px solid #000;
		margin-bottom: 40px;
	}
	.projectImage {
		height: 300px;
		width: 300px;
		object-fit: cover;
	}
	.projectTitle {
		font-family: 'Poppins';
		font-weight: 500;
		color: #000;
		font-size: 20px;
		margin-bottom: 15px;
	}
	.projectDesc {
		font-family: 'Poppins';
		font-weight: 200;
		color: rgba(0, 0, 0, 0.5);
		font-size: 16px;
		margin-bottom: 25px;
	}
	.linkContainer {
		display: flex;
		justify-content: flex-end;
		text-align: right;
		width: 100%;
	}
	.projectLink {
		font-family: 'Poppins';
		font-weight: 300;
		color: #000;
		font-size: 16px;
		display: flex;
	}
	.linkIcon {
		height: 24px;
		margin-left: 5px;
	}
</style>