---
import Button from "./Button.astro";
import { Icon } from 'astro-icon';
---
<div class="section">
	<div class="left" id="skills">
		<h1 class="sectionHeader">Skills</h1>
		<div class="skillGroup">
			<h2 class="skillGroupHeader">Languages</h2>
			<hr />
			<h3 class="skillGroupList">Java, JavaScript, TypeScript, Python, C, PHP, HTML/CSS, Assembly</h3>
		</div>
		<div class="skillGroup">
			<h2 class="skillGroupHeader">Frameworks and Libraries</h2>
			<hr />
			<h3 class="skillGroupList">Next.js, Spring, React, React Native, Node.js, Express.js, Koa, Flask, Django, Tailwind CSS</h3>
		</div>
		<div class="skillGroup">
			<h2 class="skillGroupHeader">Developer Tools</h2>
			<hr />
			<h3 class="skillGroupList">GitHub, GitLab, Visual Studio Code, Figma, Postman, Heroku, MongoDB, Amazon Web Services (S3), Wireshark, Vercel, Strapi</h3>
		</div>
		<div class="skillGroup">
			<h2 class="skillGroupHeader">Experience With</h2>
			<hr />
			<h3 class="skillGroupList">Data Structures, Algorithms, Network Analysis, Pen Testing, UI/UX Design, SEO, Reverse Engineering</h3>
		</div>
		<div class="resumeButton">
			<Button type="primary" text="View Full Resume" href="/resume.pdf"/>
		</div>
	</div>
	<div class="right" id="experience">
		<h1 class="sectionHeader">Experience</h1>
		<div class="experienceGroup">
			<img alt="John Deere" src="/John_Deere.png" class="experienceBrand"/>
			<h2 class="experienceTitle">John Deere - Software Engineering Intern - Summer 2023</h2>
			<div class="experienceIcons">
				<Icon pack="simple-icons" name="typescript" class="experienceIcon johnDeere" />
				<Icon pack="cib" name="java" class="experienceIcon johnDeere" />
				<Icon pack="cib" name="spring" class="experienceIcon johnDeere" />
				<Icon pack="fa-brands" name="react" class="experienceIcon johnDeere" />
			</div>
		</div>
		<div class="experienceGroup">
			<img alt="PeachPay, Inc." src="/PeachPay.webp" class="experienceBrand"/>
			<h2 class="experienceTitle">PeachPay - Software Engineering Intern - Summer 2022</h2>
			<div class="experienceIcons">
				<Icon pack="simple-icons" name="typescript" class="experienceIcon peachPay" />
				<Icon pack="simple-icons" name="php" class="experienceIcon peachPay" />
				<Icon pack="file-icons" name="vue" class="experienceIcon peachPay" />
				<Icon pack="icomoon-free" name="html-five" class="experienceIcon peachPay" />
			</div>
		</div>
	</div>
</div>
<style>
	.section {
		background-color: #FDFDFD;
		min-height: 100vh;
		height: auto;
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	.left {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50vw;
		min-height: 100vh;
		flex-direction: column;
		background-color: #1B2023;
		color: #fff;
		padding: 2em 0;
	}
	.right {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50vw;
		min-height: 100vh;
		flex-direction: column;
		color: #000;
	}
	/* Make .left and .right be full with on different rows if mobile */
	@media (max-width: 874px) {
		.section {
			flex-direction: column;
		}
		.left {
			width: 100vw;
			padding: 2em 0;
		}
		.right {
			width: 100vw;
			padding: 2em 1em;
		}
	}
	.sectionHeader {
		font-size: 32px;
		font-family: 'Poppins';
		font-weight: 600;
	}
	.sectionText {
		padding: 30px;
		max-width: 600px;
		font-family: 'Poppins';
		font-weight: 300;
		font-size: 16px;
		color: #fff;
	}
	.skillGroup {
		padding: 2em 3em;
		width: 100%;
	}
	.skillGroupHeader {
		font-size: 24px;
		font-family: 'Poppins';
		font-weight: 400;
		margin-bottom: 0.5em;
		text-align: center;
	}
	.skillGroupList {
		font-size: 18px;
		font-family: 'Poppins';
		font-weight: 300;
		margin-top: 0.5em;
		text-align: center;
	}
	.skillGroup hr {
		width: 50%;
		margin: auto;
		opacity: 50%;
	}
	.resumeButton {
		margin-top: 1em;
	}
	.experienceIcons {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.experienceIcon {
		height: 48px;
		margin-left: 5px;
		margin: 0px 25px;
	}
	.johnDeere {
		color: #38831A;
	}
	.peachPay {
		color: #F98574;
	}
	.experienceTitle {
		font-family: 'Poppins';
		font-weight: 600;
		font-size: 20px;
		margin: 35px 0;
		text-align: center;
	}
	.experienceGroup {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: 50px 0;
	}
	.experienceBrand {
		height: 50px;
		width: auto;
	}
</style>